= render 'shared/error_messages', :object => f.object 
.field
  = f.label :name 
  %br    
  = f.text_field :name 
.field
  = f.label :email 
  %br
  = f.text_field :email 
.field
  = f.label :username 
  %br
  = f.text_field :username 
.field
  = f.label :password 
  %br
  = f.password_field :password 
.field
  = f.label :password_confirmation, "Confirmation" 
  %br
  = f.password_field :password_confirmation 
.field
  = f.label :notified_on_new_follower 
  %br    
  -# c.f. ActionView:Helpers::FormBuilder  
  = f.check_box :notified_on_new_follower, {}, "true", "false"
